:root {
    --mainTheme: #0067A0;
    --mainColor: #FFFFFF;
    --mainHoverColor: #065885;
    --btnColor: #3363ff;
    --btnColorActive: #6076c0;
    --formBackground: #F9F9F9;
    --inputBorder: #ccc;
    --inputBackground: #FFFFFF;
    --black: #000000;
}


#map {
    height: 250px;
    width: 100%;
    margin: 20px auto;
}

.faculty-member{
    margin: 40px auto;
}

.faculty-basic-info{
    width: 80%;
    margin: 20px auto;
}
.faculty-basic-info .faculty-title-info{
    font-weight: 600;
    margin-bottom: 10px;
}

.faculty-basic-info .faculty-place-info{
    font-size: 2rem;
}

.faculty-detail-info{
    display: flex;
    justify-content: space-between;
}


.detail-left{
    width: 23%;
}
.detail-left .detail-img{
    width: 100%;
    border-radius: 50%;
}

.detail-right{
    width: 75%;
    text-align: justify;
}


@media screen and (max-width: 650px){
    .faculty-detail-info{
        display: block;
    }
    .detail-left{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
    .detail-left .detail-img{
        width: 60%;
    }
    .detail-right{
        width: 100%;
    }
}