:root {
    --mainTheme: #0067A0;
    --mainColor: #FFFFFF;
    --mainHoverColor: #065885;
    --btnColor: #3363ff;
    --btnColorActive: #6076c0;
    --formBackground: #F9F9F9;
    --inputBorder: #ccc;
    --inputBackground: #FFFFFF;
    --black: #000000;
}


#map {
    height: 250px;
    width: 100%;
    margin: 20px auto;
}

.faculty-member{
    margin: 40px auto;
}

.faculty-basic-info{
    width: 80%;
    margin: 20px auto;
}
.faculty-basic-info .faculty-title-info{
    font-weight: 600;
    margin-bottom: 10px;
}

.faculty-basic-info .faculty-place-info{
    font-size: 2rem;
}

.faculty-detail-info{
    display: flex;
    justify-content: space-between;
}


.detail-left{
    width: 23%;
}
.detail-left .detail-img{
    width: 100%;
    border-radius: 50%;
}

.detail-right{
    width: 75%;
    text-align: justify;
}


/* Our mission */
.mission-container{
    width: 85%;
    text-align: center;
    margin: 50px auto;
}

.strengths-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
}

.strength{
    width: 30%;
    text-align: justify;
    margin: 10px auto;

    font-size: 1.6rem;
    display: grid;
    place-items: center;
    min-height: 200px;
    border: 8px solid;
    padding: 1rem;

    border-image: linear-gradient(to left, var(--mainTheme), var(--mainTheme)) 1 0;
}

.strength-img{
    width: 60%;
    margin: 20px auto;
}

.values-container{
    width: 85%;
    text-align: center;
    margin: 50px auto;
}

.about-h2{
    color: var(--mainTheme);
}

@media screen and (max-width: 1200px) {
    .strengths-container{
        gap: 30px;
    }
    .strength{
        width: 33%;
    }
}

@media screen and (max-width: 990px) {
    .strengths-container{
        display: block;
        text-align: center;
    }
    .strength{
        width: 50%;
        margin: 50px auto;
    }
}


@media screen and (max-width: 650px){
    .faculty-detail-info{
        display: block;
    }
    .detail-left{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
    .detail-left .detail-img{
        width: 60%;
    }
    .detail-right{
        width: 100%;
    }
    .strength{
        width: 80%;
    }
}