:root {
  --mainTheme: #0067A0;
  --mainColor: #FFFFFF;
  --mainHoverColor: #065885;
  --btnColor: #3363ff;
  --btnColorActive: #6076c0;
  --formBackground: #F9F9F9;
  --inputBorder: #ccc;
  --inputBackground: #FFFFFF;
  --black: #000000;
}
html, body{
  scroll-behavior: smooth;
}

h1 {
  color: var(--mainColor);
  font-family: 'Lato', sans-serif;
  font-size: 54px;
  font-weight: 600 !important;
  margin: 0 0 58px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}
h2{
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: nowrap;
  padding-bottom: 13px;
}
h3{
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: nowrap;
  padding-bottom: 13px;
}
h4{
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
  white-space: nowrap;
  padding-bottom: 10px;
}

p {
  color: #3b3c3c;
  font-family: 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
}


.navbar {
  height: fit-content;
  background-color: var(--mainColor);
  display: flex;
  justify-content: space-between;
  border: none !important;
  border-radius: 0 !important;
}
.navbar::before, .navbar::after{
  content: none !important;
}

.navbar .logo{
  margin-left: 20px;
  position: relative;
}

.navbar .logo .btn-toggle{
  display: none;
  position: absolute;
  right: 10px;
  top: 20px;
  border-radius: 5px;
}

.navbar .route .route-element {
  display: flex;
  height: 100%;
}

.navbar .route .route-element .nav-link {
  padding: 12px;
  color: var(--mainTheme);
  font-size: 17px;
  height: 100%;
  width: 150px;
  background-color: var(--mainColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .route .route-element .nav-link:hover {
  background-color: var(--mainHoverColor);
  color: var(--mainColor);
}

.navbar .route .route-element .nav-link.active {
  background-color: var(--mainTheme);
  color: var(--mainColor);
}

@media screen and (max-width: 850px) {
  .navbar{
    display: block;
  }
  .navbar .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 0px;
  }

  .navbar .logo .btn-toggle{
    display: block;
  }
  .navbar .route .route-element{
    width: 100%;
    display: grid;
  }
  .navbar .route .route-element .nav-link {
    float: left;
    width: 100%;
    font-size: 14px;
  }
  .footer{
    padding: 3.5em 4rem 3rem 4rem;
    font-size: 13px;
    line-height: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .navbar{
    display: block;
  }
  .navbar .route .route-element{
    display: grid;
  }
  .navbar .route .route-element .nav-link {
    float: left;
    width: auto;
  }

  .navbar .logo {
    display: flex;
    justify-content: center;
  }
  .footer{
    padding: 3em 1.5em 3em;
    font-size: 11px;
    line-height: 1rem;
  }
}



@media screen and (min-width: 1101px) {
  .navbar .route .route-element .nav-link{
    font-size: 14px;
    padding: 10px 5px;
  }
}

@media screen and (max-width: 1100px) {
  .navbar .route .route-element .nav-link{
    font-size: 12px;
    padding: 10px 5px;
  }
}

.page-title{
  color: var(--mainTheme);
}

.container{
  margin: 20px auto;
}

.hidden{
  display: none;
}


/* =================================================================
====================================================================
====================================================================
================================================================= */
.footer{
  -webkit-text-size-adjust: 100%;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  box-sizing: inherit;
  background-color: var(--mainTheme);
  color: var(--mainColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}


.footer-right{
  width: 50%;
  text-align: center;
}

.footer-right-ele{
  color: var(--mainColor);
  text-decoration: none;
}

.footer-right .footer-right-container .card {
  position: relative;
}

.footer-right .footer-right-container .card .icon {
  width: 100%;
  height: 100%;
  background: var(--mainTheme);
}

.footer-right .footer-right-container .card:hover .icon{
  background: #04AA6D;
}


.footer-right .footer-right-container .card .icon .fa {
  font-size: 65px;
}


.footer-right .footer-right-container .card .face {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  overflow: hidden;
}

.footer-right .footer-right-container .card .face.face1 {
  position: relative;
  background: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}


.footer-right .footer-right-container .card .face.face1 .content {
  width: 100%;
  text-align: center;
}

.footer-right-container{
  display: flex;
  gap: 25px;
  justify-content: center;
  margin-bottom: 10px;
}


.footer-left{
  width: 50%;
  text-align: center;
}
.footer-left .footer-left-link .footer-left-link-logo{
  margin-bottom: 20px;
}
.footer-copyright{
  color: var(--mainColor);
  
}

@media screen and (max-width: 650px) {
  .footer{
    display: block;
    text-align: -webkit-center;
    line-height: 40px;

  }

  .footer-ele{
    width: 100%;
  }

  .footer-center{
    margin: 10px 0px;
  }
}




.main-img{
  width: 100%;
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

