/* body{
  width: 100%;
} */
h1 {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 54px;
  font-weight: 600 !important;
  margin: 0 0 58px;
  text-transform: uppercase;
}
h2{
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: nowrap;
  padding-bottom: 13px;
}
h3{
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: nowrap;
  padding-bottom: 13px;
}
h4{
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
  white-space: nowrap;
  padding-bottom: 10px;
}

p {
  color: #3b3c3c;
  font-family: 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
}


.navbar {
  height: fit-content;
  background-color: #555;
  display: flex;
  justify-content: space-between;
  border: none !important;
  border-radius: 0 !important;
}
.navbar::before, .navbar::after{
  content: none !important;
}

.navbar .logo{
  margin-left: 20px;
}

.navbar .route-element {
  display: flex;
}

.navbar .route-element .nav-link {
  padding: 12px;
  color: white;
  font-size: 17px;
  height: 100%;
  width: 150px;
  background-color: dimgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .route-element .nav-link:hover {
  background-color: #000;
}

.navbar .route-element .nav-link.active {
  background-color: #04AA6D;
}

@media screen and (max-width: 850px) {
  .navbar{
    display: block;
  }
  .navbar .route-element{
    display: grid;
  }
  .navbar .route-element .nav-link {
    float: left;
    width: auto;
  }

  .navbar .logo {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .navbar{
    display: block;
  }
  .navbar .route-element{
    display: grid;
  }
  .navbar .route-element .nav-link {
    float: left;
    width: auto;
  }

  .navbar .logo {
    display: flex;
    justify-content: center;
  }
}

h1{
  width: 100%;
  text-align: center;
}



@media screen and (min-width: 1101px) {
  .navbar .logo {
    /* margin-left: 10px;
    width: 160px; */
  }
  .navbar .route-element .nav-link{
    font-size: 14px;
    width: 140px;
    padding: 10px 5px;
  }
}

@media screen and (max-width: 1100px) {
  .navbar .logo {
    margin-left: 10px;
    width: 160px;
  }
  .navbar .route-element .nav-link{
    font-size: 12px;
    width: 120px;
    padding: 10px 5px;
  }
}


@media screen and (max-width: 850px) {
  .footer{
    padding: 3.5em 4rem 3rem 4rem;
    font-size: 13px;
    line-height: 2rem;
  }
  .navbar{
    display: block;
  }
  .navbar .logo {
    width: 100%;
    margin-left: 0;
  }
  .navbar .route-element .nav-link{
    width: 100%;
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .footer{
    padding: 3em 1.5em 3em;
    font-size: 11px;
    line-height: 1rem;
  }
}


.container{
  margin: 20px auto;
}

.hidden{
  display: none;
}


/* =================================================================
====================================================================
====================================================================
================================================================= */
.footer{
  -webkit-text-size-adjust: 100%;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  box-sizing: inherit;
  background-color: #20232a;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.footer-ele{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.footer-left{
  gap: 25px;
}

.footer-left .card {
  position: relative;
}

.footer-left .card .icon {
  width: 100%;
  height: 100%;
}

.footer-left .card:nth-child(1) .icon {
  background: #e07768;
}

.footer-left .card:nth-child(2) .icon {
  background: #6eadd4;
}

.footer-left .card:nth-child(3) .icon {
  background: #4aada9;
}

.footer-left .card:hover .icon{
  background: #04AA6D;
}


.footer-left .card .icon .fa {
  font-size: 65px;
}


.footer-left .card .face {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  overflow: hidden;
}

.footer-left .card .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}


.footer-left .card .face.face1 .content {
  width: 100%;
  text-align: center;
}

.footer-center{
  font-size: 16px;
  text-align: center;
}
.footer-center-container{
  display: block;
  line-height: 25px;
  text-align: initial;
}

.footer-center .footer-center-ele{
  text-decoration: none;
  color: #ffffff;
}
.footer-center .footer-center-ele:hover{
  text-decoration: none;
  color: #5caae6;
}

.footer-right{
  font-size: 16px;
}
.footer-copyright{
  color: #ffffff;
  
}

@media screen and (max-width: 650px) {
  .footer{
    display: block;
    text-align: -webkit-center;
    line-height: 40px;

  }

  .footer-ele{
    width: 100%;
  }

  .footer-center{
    margin: 10px 0px;
  }
}




