{% extends "base-all.html" %}
{% block title %}About page{% endblock %}
{% block script %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
{% endblock %}
{% block style %}
    <link type="text/css"  rel="stylesheet" href="{{ url_for('static', filename='css/about-page.css') }}"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
{% endblock %}
{% block main %}
<div class="container">
    <div class="about-section">
        <p class="info">Some text about who we are and what we do.</p>
        <p class="info">Resize the browser window to see that this page is responsive by the way.</p>
    </div>
    
    <h2 style="text-align:center">Our Team</h2>

    <div class="wrapper">
        <!-- <div class="number-container">
            <i class="fas fa-utensils"></i>
            <span class="num" data-val="400">000</span>
            <span class="text">Meals Delivered</span>
        </div> -->
        <div class="number-container">
            <i class="fa fa-user-circle icon"></i>
            <span class="num" data-val="340">000</span>
            <span class="text">Happy Customers</span>
        </div>
        <div class="number-container">
            <i class="fa fa-list icon"></i>
            <span class="num" data-val="225">000</span>
            <span class="text">Menu Items</span>
        </div>
        <div class="number-container">
            <i class="fa fa-star icon"></i>
            <span class="num" data-val="280">000</span>
            <span class="text">Five Stars</span>
        </div>
    </div>

    <div class="about-row">
        <div class="about-column">
            <div class="about-card">
                <img src="{{ url_for('static', filename='photo/team1.jpg') }}" alt="Jane" style="width:100%">
                <div class="about-container">
                    <h2>Jane Doe</h2>
                    <p class="about-title">CEO & Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                </div>
            </div>
        </div>
        
        <div class="about-column">
            <div class="about-card">
                <img src="{{ url_for('static', filename='photo/team2.jpg') }}" alt="Jane" style="width:100%">
                <div class="about-container">
                    <h2>Mike Ross</h2>
                    <p class="about-title">Art Director</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                </div>
            </div>
        </div>
        
        <div class="about-column">
            <div class="about-card">
                <img src="{{ url_for('static', filename='photo/team3.jpg') }}" alt="Jane" style="width:100%">
                <div class="about-container">
                    <h2>John Doe</h2>
                    <p class="about-title">Designer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div id="map"></div>

    
</div>
<script src="{{ url_for('static', filename='js/universal.js') }}"></script>
<script>
    markers=[
        {
            'lat': 28.5,
            'lon': -81.783,
            'popup': 'We are here!'
        },
    ]
    showMap(markers)
</script>
{% endblock %}
