{% extends "base-all.html" %}
{% block title %}About page{% endblock %}
{% block script %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
{% endblock %}
{% block style %}
    <link type="text/css"  rel="stylesheet" href="{{ url_for('static', filename='css/about-page.css') }}"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
{% endblock %}
{% block main %}
<div class="container">
    <h1 class="page-title">{{ current_title }}</h1>
    {% for i in content.doctor %}
    <div class="faculty-member">
        <div class="faculty-basic-info">
            <h2 class="faculty-title-info">{{i.name}}</h2>
            <span class="faculty-place-info">{{i.place}}</span>
        </div>
        <div class="faculty-detail-info">
            <div class="detail-left">
                <img class="detail-img" src="{{ url_for('static', filename='{}'.format(i.img)) }}" alt="">
            </div>
            <div class="detail-right">
                {% for j in i.info %}
                    <p>{{j}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="mission-container">
        <h2 class="">{{ content.ourMission.mission }}</h2>
        {% for i in content.ourMission.text %}
            <p>{{i}}</p>
        {% endfor %}
    </div>

    <div class="strengths-container">
        {% for i in content.ourStrengths %}
        <div class="strength">
            <img class="strength-img" src="{{ url_for('static', filename='{}'.format(i.icon)) }}" alt="" srcset="">
            <h3>{{i.title}}</h3>
            <p>{{i.text}}</p>
        </div>
        {% endfor %}
    </div>

    <div class="values-container">
        <h2 class="">{{ content.ourValues.value }}</h2>
        {% for i in content.ourValues.text %}
            <p>{{i}}</p>
        {% endfor %}
    </div>
    
    <div id="map"></div>

    
</div>
<script src="{{ url_for('static', filename='js/universal.js') }}"></script>
<script>
    markers=[
        {
            'lat': 28.5,
            'lon': -81.783,
            'popup': 'We are here!'
        },
    ]
    showMap(markers)
</script>
{% endblock %}
